<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.base %>/app/favicon.ico" />
  <meta name="description" content="dorian ratovo - code + design - labo" />
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.base %>/style/critical.css" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="<%= htmlWebpackPlugin.options.title %>">
    <%= htmlWebpackPlugin.options.html %>
  </div>
</body>

</html>